<header>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="{{ currentUser.avatar }}" alt="" />
      </div>

      <div class="profile-user-settings">
        <h1 class="profile-user-name">{{ currentUser.username }}</h1>

        <button class="btn profile-edit-btn" (click)="editProfile(currentUser)">Edit Profile</button>

        <button class="btn profile-settings-btn" aria-label="profile settings">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </button>
      </div>

      <div class="profile-bio">
        <p>
          <span class="profile-real-name">{{ currentUser.email }}</span><br>
          {{ currentUser.bio }}
        </p>
      </div>
    </div>
    <!-- End of profile section -->
  </div>
  <!-- End of container -->
</header>
